		<div class="modal fade delete-modal" tabindex="-1" role="dialog" aria-labelledby="remotemodal" aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">

				</div>
			</div>
		</div>