{% extends 'crud.html.twig' %}

{% block content %}

	<!-- left column -->
	<div class="col-sm-8">
		<div class="panel panel-default">

            {% include 'crud/title.html.twig' %}
			
			<!-- panel body -->
			<div class="panel-body">
                {%  include 'crud/form.html.twig' %}
			</div>
			
		</div>		
	</div>

{% endblock %}