{% extends _layout %}

{% block main %}

    <div class="row">
        <div class="col-sm-12">
            <div class="dashboard-main panel">
                <div class="panel-body">
                    <h1 class="page-header">Welcome</h1>
                    <p class="lead">You've been in the pipeline, filling in time, Provided with toys and Scouting for Boys. You bought a guitar to punish your ma, And you didn't like school, and you know you're nobody's fool, So welcome to the machine.</p>
					<p>Welcome my son, welcome to the machine. What did you dream? It's alright we told you what to dream. You dreamed of a big star, he played a mean guitar, He always ate in the Steak Bar. He loved to drive in his Jaguar. So welcome to the machine.</p>
					<hr />
					<a class="btn btn-primary" href="#">Set the controls for the heart of the sun</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}